/**
 * Define your mixins within this file.
**/

/* Fonts */
.heading {
  font-weight: 400;
  color: var(--text-color-heading);
}

//
// Thumbnails
// --------------------------------------------------
.img-rounded:not(#img-logo) {
  border-radius: 50%;
}

.space-acronym {
  border-radius: 50% !important;
}

.modules-group .img-rounded:not(#img-logo) {
  border-radius: 0;
}
