// In dropdown menu, remove left vertical bar
.modal .dropdown-menu,
.panel .dropdown-menu,
.nav-tabs .dropdown-menu,
ul.contextMenu {
    li {
        border-left: none;

        &:hover,
        &.selected {
            border-left: none;
        }
    }
}

.dropdown-menu {
    transition: .25s;
    border: 1px solid var(--hh-ct-menu-border-color);
    border-radius: .215rem;
    box-shadow: var(--hh-ct-panel-box-shadow);
}
