//
// Forms
// --------------------------------------------------

.form-control {
    border-radius: 25px;
}

// Not for creating a new publication
#contentForm_message .form-control {
    border-radius: var(--hh-ct-panel-border-radius);
}

.checkbox label {
    font-weight: var(--hh-ct-font-bold-weight);
}

label {
    font-weight: var(--hh-ct-font-bold-weight);
}
