//
// Media-Object
// --------------------------------------------------

.has-online-status {
    .user-online-status {
        right: -4%;
        bottom: -4%;
    }

    &.img-size-large .user-online-status {
        right: 0;
        bottom: 0;
    }
}
