@include media-breakpoint-down(md) {
    // Layout Contents: Adjusting the content to fit perfectly on mobile devices
    #layout-content {
        // Layout Space: Space navigation
        .left-navigation {
            .list-group {
                white-space: normal;
            }
        }

        .panel-profile .panel-profile-header .img-profile-header-background {
            min-height: 65px !important;
        }
    }

    .topbar {
        &, > .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    #topbar {
        > .container {

            .topbar-brand {
                flex: 1;
                white-space: nowrap;
                text-overflow: ellipsis;

                a.navbar-brand {
                    display: block !important;
                    padding-left: 10px !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 16px;
                }
            }

            // Right space for the Sign up/in button with the screen border
            .topbar-actions {
                padding-right: 13px;
            }
        }
    }
}

// Size for the bottom menu
@include media-breakpoint-down(sm) {
    #topbar {
        > .container {
            > .nav > li > a {
                padding: 7px 8px 0;
            }

            // Bottom menu on small screens
            #top-menu-nav {
                position: fixed;
                bottom: 0;
                padding-bottom: env(safe-area-inset-bottom); // for the web view space (safe area) on iPhone X and above
                background-color: var(--hh-background-color-secondary);
                width: auto;
                min-width: 100%;
                display: flex;
                justify-content: space-between !important;

                > li > a {
                    display: block;
                    padding: 0 5px 5px 5px;
                    min-width: 65px;
                    max-width: 20ch;
                    height: auto;
                    line-height: 12px !important;
                    font-size: 10px;
                    color: var(--bs-primary);

                    &.active,
                    &:hover,
                    &:active,
                    &:focus {
                        border-bottom: none !important;
                    }

                    &#space-menu {
                        align-items: center;
                        justify-content: center;
                        padding: 0;

                        .space-acronym {
                            line-height: 20px;
                        }
                    }

                    i {
                        display: block;
                        line-height: 35px;
                        font-size: 20px;
                        margin-bottom: 0;
                    }

                    > div > br {
                        display: none;
                    }
                }

                &.hide-menu-item-texts {
                    > li > a {
                        width: 50px;
                        padding: 0;
                        line-height: 0 !important;
                        font-size: 0;

                        i {
                            line-height: 50px;
                        }
                    }
                }
            }

            .notifications .dropdown-menu {
                position: fixed !important;
                left: 50% !important;
                transform: translateX(-50%) !important;
                top: 50px !important;
            }

            // Space browser
            .open #space-menu-dropdown {
                display: flex;
                flex-direction: column-reverse; // Display the search input at the bottom

                #space-menu-spaces {
                    max-height: calc(100vh - 250px) !important; // When filtering spaces, limit the results height
                }
            }
        }
    }


    body.hh-ct-menu-style-background {
        #topbar > .container > #top-menu-nav {
            border-top: solid 2px #CCC;

            > li.active > a {
                background-color: var(--bs-primary) !important;
                color: var(--hh-background-color-secondary) !important;
            }
        }
    }

    body.hh-ct-menu-style-bordered {
        #topbar > .container > #top-menu-nav {
            border-top: solid 3px #ccc;

            > li.active > a {
                margin-top: -3px;
                border-top: 3px solid var(--bs-link-color);
            }
        }
    }

    // Hide the search menu item on mobile for guests because of the Sign in/up button next to it
    body.hh-ct-is-guest #topbar #search-menu-nav {
        display: none;
    }
}
