.wall-entry [data-ui-richtext] {
    h1 {
        font-size: var(--hh-ct-h1-stream-font-size);
    }

    h2 {
        font-size: var(--hh-ct-h2-stream-font-size);
    }
}


.wall-entry-controls {
    // Same as Reaction SCSS, but in case the Reaction module is not installed
    display: flex;
    align-items: center;
    margin-top: 10px;
    column-gap: 6px;

    a {
        margin-top: 0;
        color: var(--bs-accent);
    }

    > span {
        line-height: normal; // Prevents from having 24px height because the line-height is inherited from a parent
    }

    // Replace the Comment text with an icon
    a[data-action-click="comment.toggleComment"] {
        font-size: 0;

        .comment-count {
            font-size: 11px;
        }

        &:before {
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            content: "\f0e5"; // https://fontawesome.com/v4/icon/comment-o
            display: inline-block;
        }
    }

    // Replace the Like text with an icon
    a[data-action-click="like.toggleLike"] {
        font-size: 0;

        .comment-count {
            font-size: 11px;
        }

        &:before {
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            content: "\f087"; // https://fontawesome.com/v4/icon/thumbs-o-up
            display: inline-block;
            margin-right: 3px;
        }

        &.unlike:before {
            content: "\f164"; // https://fontawesome.com/v4/icon/thumbs-up
        }
    }

    // Replace the Calendar Event text with an icon
    a[data-action-click="comment.toggleComment"] {
        font-size: 0;

        .comment-count {
            font-size: 11px;
        }

        &:before {
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            content: "\f0e5"; // https://fontawesome.com/v4/icon/comment-o
            display: inline-block;
        }
    }

    // Replace the Calendar Event text with an icon
    span.calendar-entry-ics-download a {
        font-size: 0;

        .comment-count {
            font-size: 11px;
        }

        &:before {
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            content: "\f271"; // https://fontawesome.com/v4/icon/calendar-plus-o
            display: inline-block;
        }
    }

    // Replace the Calendar Event text with an icon
    span.calendar-entry-reminder a {
        font-size: 0;

        .comment-count {
            font-size: 11px;
        }

        &:before {
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            content: "\f0a2"; // https://fontawesome.com/v4/icon/bell-o
            display: inline-block;
        }
    }

    // Replace the Share Between text with an icon
    .share-between-container > a {
        font-size: 0;
        padding: 0 3px;

        &:before {
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            content: "\f045"; // https://fontawesome.com/v4/icon/share-square-o
            display: inline-block;
        }
    }
}
