//
// Media-Object
// --------------------------------------------------

// Remove left line
.media-list {
  li {
    border-left: none;
  }

  li.new {
    border-left: none;
  }

  li:hover,
  li.selected {
    border-left: none;
  }
}

.media-list li.placeholder:hover {
  border-left: none;
}

.media {
  .media-body {
    font-size: var(--ct-font-size);

    strong {
      color: var(--text-color-soft);
    }
  }
}

.has-online-status {
  .user-online-status {
    right: -4%;
    bottom: -4%;
  }

  &.img-size-large .user-online-status {
    right: 0;
    bottom: 0;
  }
}
