:root {
    --container-max-width: 1800px;
    --top-menu-nav-justify-content: center;
    --default: #f3f3f3;
    --primary: #31414a;
    --info: #1A808E;
    --success: #518132;
    --warning: #AF640E;
    --danger: #EC0426;
    --link: #1A7DB2;
    --menu-border-color: #e4eaec;
    --text-color-heading: #37474f;
    --text-color-main: #31414a;
    --text-color-secondary: #7a7a7a;
    --text-color-highlight: #242424;
    --text-color-soft: #555555;
    --text-color-soft2: #838383;
    --text-color-soft3: #bac2c7;
    --text-color-contrast: #ffffff;
    --background-color-main: #ffffff;
    --background-color-secondary: #f7f7f7;
    --background-color-page: #f1f4f5;
    --background-color-highlight: #fff8e0;
    --font-family: ;
    --heading-font-family: ;
    --font-size: 13px;
    --ph-font-size: 16px;
    --rt-font-size: 13px;
    --h1-font-size: 1.7em;
    --h1-rt-font-size: 1.45em;
    --h2-font-size: 1.5em;
    --h2-rt-font-size: 1.3em;
    --h3-font-size: 1.2em;
    --h4-font-size: 1.1em;
    --h5-font-size: 1em;
    --h6-font-size: 0.85em;
    --font-weight: 400;
    --ph-font-weight: 700;
    --panel-border-width: 1px;
    --panel-border-style: solid;
    --panel-border-color: #c7c9e7;
    --panel-border-radius: 4px;
    --panel-box-shadow: ;
}
