// Replace the share text with an icon
.wall-entry-controls .share-between-container > a {
  font-size: 0;
  padding: 0 3px;

  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    content: "\f045"; // https://fontawesome.com/v4/icon/share-square-o
    display: inline-block;
  }
}
